
/*-- BODY --*/

html, body {
	font-size: 14px;
	font-family: Open Sans;
}

/*-- NAV --*/

.navbar-default .navbar-nav {
	font-size: 1.1rem;
	font-weight: bold;
	font-family: Open Sans;
}

.navbar-default .navbar-nav > .active > a{
	color: #399bd1;
} 

.navbar-default .navbar-nav > .active > a:hover {
	color: #399bd1;
} 

@media only screen and (max-width: 480px) {
	img.navbar-brand.navbar-right.navbar-collapse {
		display: none;
	}

	.navbar-default .navbar-nav > .active > a{
	color: #399bd1;
} 

	.navbar-default .navbar-nav > .active > a:hover {
	color: #399bd1;
}

}

/*-- JUMBOTRON --*/

.jumbotron {
	text-align: center;
}

.jumbotron-bike {
	background-image: url(../images/jumbotron-bike.jpg);
	background-size: cover;
}

.jumbotron-beer {
	background-image: url(../images/jumbotron-beer.jpg);
	background-size: cover;
}

.jumbotron-flowers {
	background-image: url(../images/jumbotron-flowers.jpg);
	background-size: cover;
}
.jumbotron-duffel {
	background-image: url(../images/jumbotron-duffel.jpg);
	background-size: cover;
}

.jumbotron-bike .display-3 {
	margin: 0 auto;
	padding-top: 11.85rem;
	font-family: Monoton;
	font-size: 7.1rem;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
	-1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron-beer .display-3 {
	margin: 0 auto;
	padding-top: 11.85rem;
	font-family: Monoton;
	font-size: 7.1rem;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
	-1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron-flowers .display-3 {
	margin: 0 auto;
	padding-top: 11.85rem;
	font-family: Monoton;
	font-size: 7.1rem;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
	-1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron-duffel .display-3 {
	margin: 0 auto;
	padding-top: 11.85rem;
	font-family: Monoton;
	font-size: 7.1rem;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
	-1px 1px 0 #000, 1px 1px 0 #000;
}

p.lead {
	margin: 0 auto;
	padding: 2.8rem;
	color: white;
	width: 51.3rem;
	font-size: 2rem;
	text-align: center;
}

a.btn.btn-primary.btn-lg {
	width: 11.4rem;
	margin-bottom: 11.85rem;
}

.btn-primary {
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.btn-primary:active {
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

a.btn-primary {
	padding: 1.3rem auto;
}

@media only screen and (max-width: 480px) {
	
	.jumbotron-bike {
		background-size: 300% 100%;
		background-position: -650px -680px;
	}

	.jumbotron-bike .display-3 {
		font-size: 5.7rem;
	}

	p.lead {
		width: 31rem;
		padding-top: 0;
	}

	a.btn.btn-primary.btn-lg {
		margin-top: 2rem;
	}
}

/*-- FEATURED PROJECT --*/

#Featured_project {
	margin: 0 auto;
}

#Featured_project_company {
	margin-top: 20px;
}

h2 {
	color: #399bd1;
	font-size: 1.7rem;
	font-weight: bold;
}

h3 {
	font-size: 1.3rem;
	font-weight: bold;
}

#Product_Categories {
	color: #399bd1;
}

.image-container {
	opacity: 0.7;
	width: 100%;
	transition: 0.5s, 0.5s;
	overflow: hidden;
}

.image-container:hover img {
	transform:scale(1.3);
	opacity: 0.5;
}

img {
	width: 100%;
	transition: 0.5s;
}

li {
	line-height: 1.4;
	color: rgba(0, 0, 0, 0.7);
}

/*-- PROJECTS --*/

#Projects{
	padding: 0 0 5.85rem 0;
}

#title {
	padding-left: 15px;
}

@media only screen and (max-width: 480px) {
	.col-xs-12 {
		margin-bottom: 4rem;
	}
}

/*-- FOOTER --*/

#footer {
	margin: 0 auto;
	padding: 5.2rem 0;
	text-align: center;
	background-color: #f3f3f3;
}

strong {
	font-size: 2.5rem;
	font-weight: bold;
}

p.trouble {
	width: 42rem;
	margin: 0 auto;
	padding-top: 1.4rem;
	text-align: center;
}

#bottom {
	margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
	p.trouble {
		width: 100%;
		font-size: 0.9rem;
	}
}

















